{%extends 'base.html'%} {%block content%} {% load crispy_forms_tags %}

<h1>Tasks Pending</h1>
{{error}}

<ul class="divChild2">

  {%for task in tasks%}
  
    <a href="{%url 'task_detail' task.id%}">
      <div class="card text-white bg-primary mb-3" style="max-width: 20rem ">
        <div class="card-header">
          {%if task.important%} <strong>{{task.title}}</strong>
          {%else%} {{task.title}} {%endif%}
        </div>
        <div class="card-body">
          <h4 class="card-title">{{task.description}}</h4>
          <p class="card-text">
            <p>{{task.user.username}}</p>
            <p>{{task.datecompleted | date:'M j Y:i'}}</p>
          </p>
          
          
        </div>
      </div>
    </a>
    <p>
      <div class="btn-group" role="group">
        <p>
          <div>
            <form action="{%url 'complete_task' task.id%}" method="POST">
              {%csrf_token%}
              <button class="ms-3 btn btn-success">Complete</button>
            </form>
            <p></p>
          </div>
          </p>
        <p>
          <div>
            <form action="{%url 'delete_task' task.id%}" method="POST">
              {%csrf_token%}
              <button class="me-5 ms-1 btn btn-danger">Delete</button>
            </form>
          </div>
        </p>
      </div>
    </p>
  

  
  {%endfor%}
</ul>

{%endblock%}
